<footer>
    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nihil, saepe voluptatibus obcaecati accusamus eaque perferendis magni suscipit? Perferendis et quidem omnis. Error dolores et repudiandae dolore corporis ab sed?</p>
    </div>
</footer>