<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title> 2023-05-16 </title>
</head>
<body>
    <%- include('includes/header') %>
    <h1>Olá cornos!</h1>
    <p>Adipisicing exercitation ex nostrud nulla culpa. Lorem laborum incididunt sint adipisicing et. Eiusmod est elit nostrud ea cupidatat ad dolore adipisicing aliquip minim eiusmod. Consectetur aute incididunt nostrud nostrud incididunt commodo anim et.</p>
    <%- include("includes/footer") %>
</body>
</html>